[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
alembic = "*"
beautifulsoup4 = "*"
requests = "*"
psycopg2-binary = "*"
starlette = "*"
SQLAlchemy = "*"
uvicorn = "*"
python-dateutil = "*"
jinja2 = "*"
twilio = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
