[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
alembic = "*"
beautifulsoup4 = "*"
requests = "*"
psycopg2-binary = "*"
starlette = "*"
SQLAlchemy = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
