[scripts]
web = "uvicorn web:app --reload"
seed="python app/db/seed_lifts.py"
update-lifts="python app/jobs/update_lift_statuses.py"
fake = "uvicorn fake:app --reload --port 8001"
test = "python -m unittest discover"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
alembic = "*"
beautifulsoup4 = "*"
requests = "*"
psycopg2-binary = "*"
starlette = "*"
SQLAlchemy = "*"
uvicorn = "*"
python-dateutil = "*"
jinja2 = "*"
firebase-admin = "*"
aiofiles = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
