{% extends "layout.html.j2" %}

{% block extra_nav_items %}
{% if season == 'Summer' %}
<a href="/?season=Winter" class="navbar-item">
  <span>Winter Lifts</span>
</a>
{% else %}
<a href="/?season=Summer" class="navbar-item">
  <span>Summer Lifts</span>
</a>
{% endif %}
{% endblock %}

{% block content %}
{% if updates %}
<div class="notification is-primary">
  <p>Last Updated at {{updates.created_at}}<p>
  <ul>
  {% for update in updates.updates %}
    <li>{{update['name']}}: {{update['from']}} -> {{update['to']}}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
<div class="columns is-multiline">
  {% for lift in lifts %}
  <div class="column is-full">
    <div class="card">
      <div class="card-content">
        <div class="columns is-mobile">
          <div class="column has-text-centered">
            <div>
              <p class="heading is-size-4-desktop is-size-7-mobile">
                Name
              </p>
              <p class="title is-size-4-desktop is-size-7-mobile">
                {{lift['name']}}
              </p>
            </div>
          </div>
          <div class="column has-text-centered">
            <div>
              <p class="heading is-size-4-desktop is-size-7-mobile">
                Status
              </p>
              <p class="title is-size-4-desktop is-size-7-mobile">
                {{lift['status']}}
              </p>
            </div>
          </div>
          <div class="column has-text-centered">
            <div>
              <p class="heading is-size-4-desktop is-size-7-mobile">
                Kind
              </p>
              <p class="title is-size-4-desktop is-size-7-mobile">
                {{lift['kind']}}
              </p>
            </div>
          </div>
          <div class="column has-text-centered">
            <div>
              <p class="heading is-size-4-desktop is-size-7-mobile">
                Last Updated
              </p>
              <p class="title is-size-4-desktop is-size-7-mobile">
                {{lift['last_updated']}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
