{% extends "layout.html.j2" %}

{% block extra_nav_items %}
{% if season == 'Summer' %}
<a href="/?season=Winter" class="navbar-item">
  <span>Winter Lifts</span>
</a>
{% else %}
<a href="/?season=Summer" class="navbar-item">
  <span>Summer Lifts</span>
</a>
{% endif %}
{% endblock %}

{% block content %}
{% if updates %}
<div class="notification is-primary">
  <p>Last Updated at {{updates.created_at}}<p>
  <ul>
  {% for update in updates.updates %}
    <li>{{update['name']}}: {{update['from']}} -> {{update['to']}}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% if lifts %}
<div class="box table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Kind</th>
        <th>Last Updated</th>
      </tr>
    <thead>
    {% for lift in lifts %}
    <tbody>
      <td>{{lift['name']}}</td>
      <td>{{lift['status']}}</td>
      <td>{{lift['kind']}}</td>
      <td>{{lift['last_updated']}}</td>
    </tbody>
    {% endfor %}
  </table>
</div>
{% else %}
<div>
  <p class="has-text-centered is-size-2-desktop is-size-4-mobile">Dude, where are the lifts?</h1>
</div>
{% endif %}
{% endblock %}
